nav{
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top:15px;
  height:30px;
}
nav a{
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}
.top-links{
  display: inline-block;
  float: right;
  padding-bottom: 0;
  margin: 0 20px 0 0;
}
.top-links li{
  display: inline-block;
  margin: 0 20px;
  
}
.top-left{
  float: left;
}
.container{
  background: url(images/city-scape.svg);
  height: 500px;
  background-size: cover;
  color: white;
}
.div-one img{
  width: 80px;
  padding-top:1%;
  padding-left:1%; 
}
.div-one input{
  width: 75%;
    margin-left: 1%;
    margin-top: 1%;
}
.div-one p{
  margin-left: 1%;
  margin-top: 1.5%;
  font-size: .8em;
}
.div-one .second{
  width: 3%;
}
.div-two{
  width: 500px;
  padding-left: 15%;
  padding-top: 9%;
}
.container button{
  color: white;
  background-color: rgb(240,146,51);
  padding: 8px 15px 8px 15px;
  border: 0px;
  border-radius: 10px;
}
.sign-section div{
  color: white;
  background-color: rgb(39,53,71);
  text-align: center;
  height: 600px;
  margin: 0 auto;
}
.sign-section div img{
  width: 400px;
  margin: 0 auto;
  padding-left: 17%;
  padding-top: 13%;
}
.sign-section div h2{
  width: 400px;
  margin: 0 auto;
  padding-top: 38%;
}
.left-text{
  text-align: left;
}
.sign-section button{
  color: white;
  background-color: rgb(203,56,55);
  padding: 8px 15px 8px 15px;
  border: 0px;
  border-radius: 10px;
  margin-left: 5.5%;
}
.sign-section p{
  float: left;
  margin-left:5.5%;
  margin-top:.5%
}
.sign-section p a{
  color: white;
  font-size: 1em;
}
.info-section{
  background: url(images/forklift.svg);
  height: 480px;
  background-size: cover;
  position: relative;
}
.info-section div{
  position: absolute;
  color: white;
  width: 380px;
  padding-left:12%;
  padding-top:120px;
}
.info-section button{
  color: white;
  background-color: rgb(49,68,88);
  padding: 8px 15px 8px 15px;
  border: 0px;
  border-radius: 10px;
}
.option-head{ 
  text-align: center;
  color:rgb(83, 88, 98);
  padding-top:50px;
}
.options-section p{
  color: rgb(135, 145,156);
}
.options-section p a{
  color: rgb(208,74,73);
}
.box-service{
  text-align: center;
  box-sizing: border-box;
  margin: -2% 2% 0 5%;
  padding: 10px;
  width: 25%;
}
.last{
  padding-bottom: 28px;
}
.col{
  float: left;
}
.clear-fix{
  clear: both;
}
.options-section div{
  margin-bottom: 5%; 
}